<div class="content" style="margin-top: 100px;">
  <div class="d-flex justify-content-center h-200">
    <div class="form-block text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <img class="mb-4" src="https://world-war-ii-66.webself.net/file/si756049/logo-chat-copie-fi11480315x1200.jpg" alt="" width="72" height="72">
      <h2>Sign up</h2>
      <%= f.label :email , class: 'sr-only'%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control mb-3',placeholder: "Adresse email"%>
      <%= f.label :password , class: 'sr-only'%>
      <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control mb-1',placeholder: "Mot de passe"%>
      <% if @minimum_password_length %>
      <em >(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.label :password_confirmation , class: 'sr-only'%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mb-3',placeholder: "Confirmation mot de passe" %>
      <div class="actions">
        <%= f.submit "Sign up",class:"btn btn-secondary mb-3" %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
      <% end %>
    </div>
  </div>
</div>