<div class="container h-100">
	<div class="row align-items-center h-100">
		<div class="card m-auto pt-5" style="width: 700px;height: 400px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="<%= @item.image_url %>" class="card-img pt-4 pl-4" alt="..." >
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><%= @item.title %></h5>
						<p class="card-text">
							<%= @item.description %>
						</p>
						<p class="card-text">
							<h5 class="text-muted">
							Prix : <%= @item.price %> $
							</h5>
						</p>
						<% if current_user %>
						<div>
							<%= link_to "Ajouter au panier", item_carts_path(@item.id), class: 'btn btn-success', method: :post %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>